<h1>Add a new landmark</h1>
<form action="/landmarks" method="post">
  <label><strong>Name: </strong></label><input id ="landmark_name" type="text" name="landmark[name]">

  <br></br>

  <label><strong>Year Completed</strong></label><input id="landmark_year_completed" type="text" name="landmark[year_completed]">

  <input type="submit" value="Create New Landmark">
</form>
