<h1>Add a new historical figure</h1>
<form action="/figures" method="post">
  <label>Name: </label><input id ="figure_name" type="text" name="figure[name]">
  <label>Title: </label><input type="text" name="title[name]">
  
  <%Title.all.each do |t|%>
  <input id="title_<%=t.id%>" type="checkbox" name="figure[title_ids][]" value="<%=t.id%>">
  <%end%>
  <label>Landmark: </label><input type="text" name="landmark[name]">

  <%Landmark.all.each do |l|%>
  <label>Titles: </label><input id="landmark_<%=l.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>">
  <%end%>

  <input type="submit" value="Create New Figure">
</form>
